<div class="pt-4 pb-4">
  <form [formGroup]="filtersForm">
    <div class="container">
      <div class="row align-items-end">
        <div class="col">
          <div class="form-group">
            <label for="filters_search">Search</label>
            <input type="search" class="form-control" id="filters_search" placeholder="Search"
                   formControlName="searchQuery">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <button class="btn btn-outline-primary" (click)="clearFilters()">clear filters</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="filters_type">Type:</label>
            <select class="form-control" id="filters_type" formControlName="type">
              <option value="">All media</option>
              <option value="image">image</option>
              <option value="document">document</option>
              <option value="video">video</option>
              <option value="audio">audio</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="filters_sort">Order:</label>
            <select class="form-control" id="filters_sort" formControlName="order">
              <option value="">Default</option>
              <option value="ASC">title &darr;</option>
              <option value="DESC">title &uarr;</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mt-4">
          <div *ngIf="filteredList$ | async as list; else loading">
            <ng-container *ngIf="list.length; else noItems">
              <ul id="files_list">
                <li *ngFor="let item of list | paginate: { itemsPerPage: onPage, currentPage: currentPage }">
                  <span class="title">{{item.title}}</span>
                  <span class="type">Type: {{item.type}}</span>
                </li>
              </ul>
              <div class="text-center mt-4">
                <pagination-controls (pageChange)="currentPage = $event" [autoHide]="true"></pagination-controls>
              </div>
            </ng-container>
          </div>
          <ng-template #noItems>
            <div class="text-center">
              No matches
            </div>
          </ng-template>
        </div>
        <ng-template #loading>
          <div class="text-center">
            loading...
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
