@import "variables";

#files_list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: block;
    padding: .5rem 1rem;
    font-size: .875rem;
    margin-bottom: .25rem;
    background-color: $white;
    line-height: 1.4;
    border: 1px solid $border-color;
    transition: background-color .25s ease;

    .title,
    .type {
      display: block;
    }

    .title {
      font-weight: 700;
    }

    .type {
      font-size: .75rem;
    }

    &:hover {
      background-color: #fafafa;
    }
  }
}
